html {
	background-color: #f2354435;
	background: url(https://sun9-69.userapi.com/c626519/v626519588/333c8/xt5HsT5jcH4.jpg); 
}

#header {
	color: red;
}
h3.style {
	background-color: coral;
}
a:hover {
	background-color: coral;
}
#text_styles {
	font-size: 1.1em;
	font-family: Roboto, sans-serif;
	text-align: justify-all;

}
#headBlock {
width: calc(100%-20px);
height: 70px;
background-color: transparent;
border-bottom: 2px solid silver;
padding: 10px;
font-size: 1.2em;
}
footer {
	width: calc(100%-20px);
height: 30px;
margin-top: 10px;
background-color: #fff;
border-top: 3px solid silver;
padding: 20px;
font-size: 1.2em;
color:coral;
}
article {
	width:60%;
	margin-left: 5%;
	margin-right: 5%;
}